# Gradle
/.gradle/
# Android SDK
/local.properties
# IntelliJ
/.idea/
# Gradle Build
/app/build/
/restrictionbypass/build/
# CMake
/restrictionbypass/.cxx/
# Android Studio Signing APK
/app/debug/
/app/release/
