<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chickenhook.restrictionbypass">

    <application>
        <provider
            android:name=".BypassProvider"
            android:authorities="${applicationId}.restrictionbypass"
            android:exported="false" />
    </application>

</manifest>